In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',None)

In [2]:
df=pd.read_csv('Wine_Quality_Data.csv')
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
df.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
color                   0
dtype: int64

In [4]:
df.shape

(6497, 13)

In [5]:
df.duplicated().any()

True

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.duplicated().any()

False

In [8]:
df.reset_index(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5320 non-null   int64
 1   fixed_acidity         5320 non-null   float64
 2   volatile_acidity      5320 non-null   float64
 3   citric_acid           5320 non-null   float64
 4   residual_sugar        5320 non-null   float64
 5   chlorides             5320 non-null   float64
 6   free_sulfur_dioxide   5320 non-null   float64
 7   total_sulfur_dioxide  5320 non-null   float64
 8   density               5320 non-null   float64
 9   pH                    5320 non-null   float64
 10  sulphates             5320 non-null   float64
 11  alcohol               5320 non-null   float64
 12  quality               5320 non-null   int64
 13  color                 5320 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 582.0+ KB

In [10]:
del df['index']

In [11]:
df['color'].value_counts()

white    3961
red      1359
Name: color, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['color']=lb.fit_transform(df['color'])
del df['color']

In [13]:
df.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         5320 non-null   float64
 1   volatile_acidity      5320 non-null   float64
 2   citric_acid           5320 non-null   float64
 3   residual_sugar        5320 non-null   float64
 4   chlorides             5320 non-null   float64
 5   free_sulfur_dioxide   5320 non-null   float64
 6   total_sulfur_dioxide  5320 non-null   float64
 7   density               5320 non-null   float64
 8   pH                    5320 non-null   float64
 9   sulphates             5320 non-null   float64
 10  alcohol               5320 non-null   float64
 11  quality               5320 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 498.9 KB

In [15]:
l=[]
for i in list(df.columns):
    if i!='quality':
        l.append(i)
x=df[l]
y=df['quality']

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [18]:
y_pred=model.predict(x_test)

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print(f'LinearRegression MAE score on the X_test is: {mean_absolute_error(y_test, y_pred)}')
print(f'LinearRegression MSE score on the X_test is: {mean_squared_error(y_test, y_pred)}')
print('LinearRegression RMSE score on the X_test is', mean_squared_error(y_test, y_pred, squared = False))

LinearRegression MAE score on the X_test is: 0.5661692480359404
LinearRegression MSE score on the X_test is: 0.5489796159796049
LinearRegression RMSE score on the X_test is 0.7409315865716651

In [20]:
d={'actual':y_test,'predicted':y_pred}
o_df=pd.DataFrame(d)
o_df.head()

      actual  predicted
1185       5   5.086872
42         5   4.601904
3950       6   5.990424
4247       5   5.523262
5203       8   6.669046

In [21]:
import pickle as pkl

In [22]:
pkl.dump(model,open("winequality.pkl","wb"))